---
import Layout from '../layouts/Layout.astro';
import { supabase } from '../lib/supabase';

const { cookies, redirect } = Astro;

const accessToken = cookies.get('sb-access-token');
const refreshToken = cookies.get('sb-refresh-token');

if (!accessToken || !refreshToken) {
	return redirect('/signin');
}

const { data, error } = await supabase.auth.setSession({
	refresh_token: refreshToken.value,
	access_token: accessToken.value,
});

if (error) {
	cookies.delete('sb-access-token', {
		path: '/',
	});
	cookies.delete('sb-refresh-token', {
		path: '/',
	});

	return redirect('/signin');
}

const email = data?.user?.email;
---

<Layout title="dashboard">
	<h1>Welcome {email}</h1>
	<p>We are happy to see you here</p>
	<form action="/api/auth/signout">
		<button type="submit">Sign out</button>
	</form>
	<div id="list-field" hx-get="/api/lists/groceries" hx-trigger="load, click from:.delete-button"></div>
	<form
		hx-post="/api/lists/groceries"
		hx-target="#list-field"
		hx-swap="innerHTML"
		method="post"
		
	>
		<input name="itemtext" type="text" id="new-item" />
	</form>
	<button type="button" class="delete-button">Click me</button>
</Layout>
