---

---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script is:inline src="/htmx.min.js"></script>
</head>
<body>
	<main>
		<slot />
	</main>
	<style>
		:root {
			font-size: 16px;
		}
	</style>
</body>
